.gauge-container
  align-items: center
  display: flex
  justify-content: center

.gauge
  background-color: rgba(black, .75)
  box-shadow: 0 0 4rem rgba(black, .5)
  margin: 0 auto
  padding: 2rem
  width: 300px

.gauge__fixed
  fill: rgba(white, .25)

.gauge__value
  fill: rgba(white, .5)
  font-size: 1.75rem

.gauge__label
  color: rgba(white, .5)
  font-size: 1rem

.gauge__label--small
  fill: rgba(white, .75)
  font-size: .75rem
